<h2>Recently Added</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <!--<th>ID</th>-->
      <th>Title</th>
      <th>File Name</th>
      <th>Type</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="doc in docs">
      <!--<td><a href="#/documents/id/{{doc._id}}">{{doc._id}}</a></td>-->
      <td><a href="#/documents/id/{{doc._id}}">{{doc.title}}</a></td>
      <td>{{doc.fileName}}</td>
      <td>
        <img ng-src="/images/file-icons/32px/{{doc.ext}}.png" height="22" />
        <span class="text-muted">{{doc.mime}}<!-- - {{doc.ext}}--></span>
      </td>
      <td><a href="/rest/data/{{doc.dataId}}">Download</a></td>
    </tr>
  </tbody>
</table>
